@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root{
	--header-height: 4rem;
	--nav-width: 68px;
	--first-color: #4723D9;
	--first-color-light: #AFA5D9;
	--white-color: #F7F6FB;
	--body-font: 'Kanit', sans-serif;
	--normal-font-size: 1rem;
	--z-fixed: 100
	}


*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

	body{
		position: relative;
		margin: var(--header-height) 0 0 0;
		padding: 0 1rem;
		font-family: var(--body-font);
		font-size: var(--normal-font-size);
		transition: .5s
	}


.navbar{
	display: flex;
	justify-content: center;
	border-bottom-right-radius: 50px;
	border-top-left-radius: 50px;


}
.container{
	display: flex;
	justify-content: space-between;
}
.container .h1 {
 font-family: 'Kanit', sans-serif;

}

	.header{
		width: 95%;
		/*margin-left: 68px;*/
		height: var(--header-height);
		position: absolute;
		/*padding:50px 20px; */
		top: -86px;
		left: 68px;
		display: flex;
		align-items: center;
		justify-content: space-around;
		background-color:rgba(255,255,255,0.5);
		z-index: var(--z-fixed);
		transition: .5s;
		border-bottom-right-radius: 20px;
		border-bottom: 2px solid white;
	}
	.header_toggle{
		color: black;
		font-size: 20px;
		cursor: pointer;
		flex-grow: 1;


	}
	.header .h1 {
		flex-grow: 2;
	}

	.header img{

		transform: rotate3d(5,5,5) 3s;
		margin:20px 20px;

	}


	.l-navbar{
		position: fixed;
		top: 0;
		left: -30%;
		width: var(--nav-width);
		height: 100vh;
		padding: .5rem 1rem 0 0;
		transition: .5s;
		z-index: var(--z-fixed)}
	.nav{
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		overflow: hidden;
	}
	.nav_link {

		font-size: 22px;
		color: white;
		text-decoration: none;
	}
	.nav_link span{
		color:white;
		font-weight: 600;
	}
	.nav_link span:hover{
		color:white;
		font-weight: 700;
	}
	
		
	.nav_logo, .nav_link{
		display: grid;
		grid-template-columns: max-content max-content;
		align-items: center;
		column-gap: 1rem;
		padding: .5rem 0 .5rem 1.5rem
	}
	.nav_logo{
		margin-bottom: 1rem;
		text-decoration: none;
		margin-left: 5px;

		
	}
	
	.nav_logo span {
		color:black;
		font-size: 25px;
		font-weight: 600;
	}
	.nav_logo-icon{
		font-size: 1.25rem;
		color: var(--white-color)
	}
	.nav_logo-name{
	font-weight: 700;

	}

	
	.nav_link{
		position: relative;
		color: var(--first-color-light);
		margin-bottom: 1.5rem;
		transition: .3s
	}
	.nav_link:hover{
		color: var(--white-color)
	}
	.nav_icon{
		font-size: 1.25rem
	}
	.show{
			left: 0
		}
	.body-pd{
		padding-left: calc(var(--nav-width) + 1rem)
	}
	.active{
		color: var(--white-color)
	}
	.active::before{
		content: '';
		position: absolute;
		left: 0;
		width: 2px;
		height: 32px;
		background-color: var(--white-color)}
	.height-100{
		height:100vh
	}
	

	.container{
		margin-top: 5rem;
		border-radius: 18px;
		margin-right: 0px;
	}
	
.Image{
	height:500px;
}
	.Image img{
		float:right;
		border-radius: 18px;
		margin-top: 10px;
		height: 100%;
		object-position: top right;
	}
	

	@media screen and (min-width: 768px){
		body{margin: calc(var(--header-height) + 1rem) 0 0 0;padding-left: calc(var(--nav-width) + 2rem)}
		.header{height: calc(var(--header-height) + 1rem);padding: 0 2rem 0 calc(var(--nav-width) + 2rem)}
		.header_img{width: 40px;height: 40px}
		.header_img img{width: 45px}
		.l-navbar{left: 0;padding: 1rem 1rem 0 0}
		.show{width: calc(var(--nav-width) + 156px)}
		.body-pd{padding-left: calc(var(--nav-width) + 188px)}
	}

	@media screen and (min-width: 0px) and (max-width:550px){
		.header_toggle{
				
		font-size: 18px;
		}
		.header .h1{

			font-size: 18px;
			font-weight: bold;
		}
	}
	

