*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.Header {

	height: 80px;
	width: 100vw;
	background-color:#c3bfbffa;
	position: absolute;
	top:0;
	left:0;

	display: flex;
	/*justify-content: space-around;*/
	align-items: center;
}
.Header h1{
margin:auto;
}

.Header img{

	margin-left: 85px;

}
.Header img:hover{

	cursor: pointer;
	
}

.SideNav {
  height: 510px;
  width: 240px;
  position: absolute;
  z-index: 1;
  top: 100px;
  left: 4px;
  background-color: #f4edff;
  overflow-x: hidden;
  padding-top: 20px;
  border: 2px solid  lightgrey;
}

.SideNav a {
	width: 200px;
	height:60px;
	text-align: center;
	margin:20px 20px;
	padding:15px 0px;
  text-decoration: none;
  font-size: 20px;
  font-weight:bold;
  color: black;
  display: block;
  border: 2px solid #d3d3d3fa;
  background-color: #d3d3d3fa;
}

.SideNav a:hover {
  background-color: #c3bfbffa;
    font-weight:bolder;

}
.SideNav .logout {
	position: absolute;
	bottom:5px;
 	width: 200px;
	height:60px;
	text-align: center;
	margin:20px 18px;
	padding:15px 0px;
	text-decoration: none;
	font-size: 20px;
	font-weight:bold;
	color: black;
	display: block;
	border: 2px solid #d3d3d3fa;
	background-color: #d3d3d3fa;
}
.SideNav .logout:hover {
  background-color: #c3bfbffa;
    font-weight:bolder;
    cursor:pointer; 

}


.MainContent {
 background-color:  #d3d3d3fa;
 margin-left: 260px;
 margin-top: 100px;
 padding:20px;
 height:510px;
 display: flex;
 border: 2px solid #d3d3d3fa;


}
.Content{
	height:480px;
	width:50% ;
	padding:10px 15px; 
	background-color: #f4edff;
	margin-right: 30px;

}
.Form{
	height:470px;
	width:100% ; 
    background-color: #f4edff;
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 2px;

}

.Form input[type="text"]{
	width:100%;
	height: 25px;
	padding-left: 5px;
	margin-right: 20px;
	text-align: left;
	font-size: 14px;
	border-radius: 2px;
	border: none;

}
.Form input[type="email"]{

	width:100%;
	height: 25px;
	padding-left: 5px;
	margin-right: 20px;	
	color:grey;
	text-align: left;
	font-size: 14px;
	border-radius: 2px;
	border: none;

}

.Form input[type="submit"]{
	width: 80px;
	height:30px;
	border:none;
	color:black;
	border-bottom: 2px solid #484040;
	border-right: 2px solid #484040;
	border-top: 2px solid white;
	border-left: 2px solid white;

	background-color: #d3d3d3fa;

}


.Input {
	width: 100%;
	height:50px;
	display: flex;
	align-items: center;
	background-color: #d3d3d3fa;
}
.Input label{

	margin-left:30px;
	width: 110px;
}
.TextArea {
	width: 100%;
	height:170px;	
	background-color: #d3d3d3fa;
	padding-top:10px;
    overflow: auto;
}
 #message{
 		margin:10px 10px 0px 30px ;
 		padding: 5px;
 		resize: vertical;
 	 
}
.TextArea label{

	margin-left:30px;
	width: 110px;
}

#countries {

	width:100%;
	height: 25px;
	margin-right: 20px;	
	color:black;
	text-align: left;
	font-size: 14px;
	border-radius: 2px;
	border: none;
}

.alert {
	position: absolute;
	top: 50%;
	left: 50%;
	width:500px;
	height:130px;
	transform: translate(-50%,-50%);
  padding: 20px 0px 10px 0px;
  background-color: white;
  border-radius: 8px;
  color: grey;
  display: none;
}

.alert  strong {

margin:0px 20px;
}
.alert  p {

margin: 0px 20px 25px 20px;
}

.closebutton {
  margin-left: 15px;
  color: #13ace7;
  font-weight: bold;
 position:absolute;
 right:25px;
 bottom: 10px;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebutton:hover {
  color: darkblue;
}









.collapseSidebar {
  height: 510px;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 100px;
  left: 5px;
  background-color: #f4edff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.collapseSidebar a {
    width: 50px;
	height:50px;
	text-align: center;
	margin:20px 20px;
	padding:15px 0px;
  text-decoration: none;
  
  color: black;
  display: block;
  border: 2px solid #d3d3d3fa;
  background-color: #d3d3d3fa;
}

.collapseSidebar a:hover {
  background-color: #c3bfbffa;
}
.collapseSidebar .login {
	position: absolute;
	bottom:5px;
 	width: 50px;
	height:50px;
	text-align: center;
	margin:20px 20px;
	padding:15px 0px;
	color: black;
	display: block;
	border: 2px solid #d3d3d3fa;
	background-color: #d3d3d3fa;
}
.collapseSidebar .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 46px;
  background-color: transparent;
  border:none;

}
.collapseSidebar .closebtn:hover{
  cursor:pointer;

}

.SideNav .openbtn {

 position: relative;
  margin-left: 190px;
  cursor: pointer;
  background-color: transparent;
  font-size: 30px;
  color: black;
  border: none;
}

.SideNav .openbtn:hover {
  font-size: 31px;
   

}

#main {
  transition: margin-left .5s;
  padding: 16px;
}