*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.Header {

	height: 80px;
	width: 100vw;
	background-color:#c3bfbffa;
	position: absolute;
	top:0;
	left:0;

	display: flex;
	/*justify-content: space-around;*/
	align-items: center;
}
.Header h1{
margin:auto;
}

.Header img{

	margin-left: 85px;

}
.Header img:hover{

	cursor: pointer;
	
}

.SideNav {
  height: 510px;
  width: 240px;
  position: absolute;
  z-index: 1;
  top: 100px;
  left: 4px;
  background-color: #f4edff;
  overflow-x: hidden;
  padding-top: 20px;
  border: 2px solid  lightgrey;
}

.SideNav a {
	width: 200px;
	height:60px;
	text-align: center;
	margin:20px 20px;
	padding:15px 0px;
  text-decoration: none;
  font-size: 20px;
  font-weight:bold;
  color: black;
  display: block;
  border: 2px solid #d3d3d3fa;
  background-color: #d3d3d3fa;
}

.SideNav a:hover {
  background-color: #c3bfbffa;
    font-weight:bolder;

}
.SideNav .logout {
	position: absolute;
	bottom:5px;
 	width: 200px;
	height:60px;
	text-align: center;
	margin:20px 18px;
	padding:15px 0px;
	text-decoration: none;
	font-size: 20px;
	font-weight:bold;
	color: black;
	display: block;
	border: 2px solid #d3d3d3fa;
	background-color: #d3d3d3fa;
}
.SideNav .logout:hover {
  background-color: #c3bfbffa;
    font-weight:bolder;
    cursor:pointer; ;

}

.MainContent {
 background-color:  #d3d3d3fa;
 margin-left: 260px;
 margin-top: 100px;

 padding:20px;
 height:510px;
 display: flex;
 border: 2px solid #d3d3d3fa;


}
.Content{
	height:434px;
	width:50% ;
	padding:20px 15px; 
	background-color: #f4edff;
	margin-right: 30px;
	margin-bottom: 10px;
	margin-top: 15px

}
.Content h1{

	font-size: 28px;
	margin:20px 0px 20px 0px;
}
.Content span {
	display: inline-block;
	margin:0px 0px 40px 60%;
	font-weight: bold;
	font-size: 18px;

}
.Content p {

	font-weight: bold;
	font-size:18px;
}
.Image{
	height:434px;
	background-color: grey;
	width:50% ;
	padding:20px;
	overflow: hidden;
	background-image: url('./images/furniture.jpg');
	background-position: 100% 18.2%;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-bottom: 15px;
	margin-top: 15px
}




.collapseSidebar {
  height: 510px;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 100px;
  left: 5px;
  background-color: #f4edff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.collapseSidebar a {
    width: 50px;
	height:50px;
	text-align: center;
	margin:20px 20px;
	padding:15px 0px;
  text-decoration: none;
  
  color: black;
  display: block;
  border: 2px solid #d3d3d3fa;
  background-color: #d3d3d3fa;
}

.collapseSidebar a:hover {
  background-color: #c3bfbffa;
}
.collapseSidebar .login {
	position: absolute;
	bottom:5px;
 	width: 50px;
	height:50px;
	text-align: center;
	margin:20px 20px;
	padding:15px 0px;
	color: black;
	display: block;
	border: 2px solid #d3d3d3fa;
	background-color: #d3d3d3fa;
}
.collapseSidebar .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 46px;
  background-color: transparent;
  border:none;

}
.collapseSidebar .closebtn:hover{
  cursor:pointer;

}

.SideNav .openbtn {

  position: relative;
  margin-left: 190px;
  cursor: pointer;
  background-color: transparent;
  font-size: 30px;
  color: black;
  border: none;
}

.SideNav .openbtn:hover {
  font-size: 31px;
   

}

#main {
  transition: margin-left .5s;
  padding: 16px;
}